/*** Basic reset ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 1.4rem;
}

body {
  font-family: 'Gill sans MT Condensed', sans-serif;
}

.heroWrap {
  background: url(content/94414604_m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

/* Video intro */
.hero-anim {
  position: relative;
  height: 100vh;
  width: 100%;
}

#heroVideo {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.videoTransparency {
  opacity: 0;
  transition: all 1s ease-in-out;
}

header {
  background-color: rgba(39, 38, 38, 0.3);
  z-index: 1000;
}


/* UTILITY CLASS */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.active {
  display: block;
  transition: 1s all ease-in-out;
}

/* Hover nav-link */
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: salmon;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* SEARCH DATA */
.search-data-wrapper,
.search-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.search-data-wrapper {
  position: fixed;
  height: 0px;
  width: 0px;
  background: hsl(0, 0%, 0%, .9);
  border-radius: 100%;
  transition: all .4s linear;
}

.search-data-open-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 50px;
}

.search-data-wrapper.active {
  height: 4000px;
  width: 4000px;
}

.search-data {
  position: absolute;
  height: 50px;
  width: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  display: none;
}

.search-data input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  color: salmon;
}

.search-data .line {
  position: absolute;
  height: 1px;
  width: 85%;
  background: #FFF;
  bottom: -30px;
}

.search-data label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(255,255,255,0.7);
  font-size: 2rem;
}

.search-data input:valid ~ label {
  display: none;
}

.search-data-icon{
  color: #FFF;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}

.search-data-close-button {
  position: absolute;
  z-index: 99999;
  right: 180px;
  top: 60px;
  color: #FFF;
  font-size: 35px;
  cursor: pointer;
}

.search-data-close-button,
.search-data-icon,
.search-data-label {
  display: none;
}

.search-icon:hover,
.search-data-close-button:hover,
.profile-menu-link:hover,
.nav-link-home {
  color: salmon;
}

#socials {
  top: 45%;
  position: absolute;
  z-index: 9999;
}

/* SECTION ARTICLES (with HAMMER) */
/* 
.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.container {
  overflow: hidden;
  padding: 20px;
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 380px;
  --card-height: 400px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
    --card-max-width: 300px;
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  background: rgba(255, 255, 255, 1);
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  min-width: 380px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  border-radius: 1em;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  filter: brightness(1);
  transition: .3s filter ease-in-out;
} */

/* .card:hover {
  filter: brightness(50%);
}

.card.highlight:hover {
  filter: brightness(100%);
} */

/* NEW VERSION ARTICLES */



/* MEDIA QUERIES */
@media (max-width: 850px) {
  .heroWrap {
    background-position: center;
  }
  .primary-navigation {
    position: fixed;
    line-height: 20px;
    inset: 0 0% 0% 0%;
    background: hsl(0, 0%, 0%, 0.7);
    backdrop-filter: blur(1rem);
    flex-direction: column;
    align-items: center;
    padding: min(20vh, 10rem) 2rem;
    transition: .3s background-color ease-in-out;
    z-index: 1000;
    transform: translateY(-150%);
    transition: transform 350ms ease-out;
  }

  /* @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0, 0%, 0%, 0.1);
      backdrop-filter: blur(1rem);
    }
  } */

  .primary-navigation[data-visible="true"] {
    transform: translateY(0%);
  }

  .search-icon {
    display: none;
  }

  .search-input {
    display: block;
  }

  .search-mobile {
    display: block;
  }

  .mobile-nav-toggle {
    position: absolute;
    background: url(content/open.svg);
    width: 2rem;
    height: 2rem;
    border: 0;
    top: 2rem;
    right: 0;
    margin-right: .5rem;
    z-index: 9999;
    color: white;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url(content/close.svg);
  }

  #socials {
    top: .5rem;
  }

  .card-carousel .card {
    min-width: 200px;
  }
} 